body {
    margin: 0 5vw;
}

.successNotify {
    display: initial;
}

.failureNotify {
    display: initial;
}

.missingInfo {
    display: initial;
}

div > p {
    display: none;
}

button {
    color: white;
    margin-top: 20px;
    background-color: dodgerblue;
}

h3 {
    color: firebrick;
    text-transform: uppercase;
}

#bodyText {
    margin-top: 10px;
    width: 30vw;
    height: 15vh;
    display: block;

}

img {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 50px;
    scroll-behavior: smooth;

}

#success, #failure, #missingInfo {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(212, 0, 255);
}